
@font-face {font-family: "iconfont";
  src: url('../purse_fonts/iconfont.eot?t=1482755294685'); /* IE9*/
  src: url('../purse_fonts/iconfont.eot?t=1482755294685#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../purse_fonts/iconfont.woff?t=1482755294685') format('woff'), /* chrome, firefox */
  url('../purse_fonts/iconfont.ttf?t=1482755294685') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../purse_fonts/iconfont.svg?t=1482755294685#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huochepiao:before { content: "\e607"; }

.icon-gengduo:before { content: "\e793"; }

.icon-jiudian:before { content: "\e636"; }

.icon-video:before { content: "\e901"; }

.icon-iconfontredpacket:before { content: "\e629"; }

.icon-licai:before { content: "\e602"; }

.icon-qq:before { content: "\e615"; }

.icon-iconfontzuojiantou:before { content: "\e6a8"; }

.icon-3:before { content: "\e603"; }

.icon-4:before { content: "\e604"; }

.icon-20:before { content: "\e612"; }

.icon-jixuduihuan:before { content: "\e672"; }

.icon-xiangxidizhi:before { content: "\e67b"; }

.icon-xinyongqia:before { content: "\e683"; }

.icon-shenghuojiaofei:before { content: "\e680"; }

.icon-dianping1193379easyiconnet:before { content: "\e65c"; }

.icon-meituanwaimai:before { content: "\e9ab"; }

.icon-go2mogujie:before { content: "\e62d"; }

.icon-badaxilietubiao05-copy:before { content: "\e61e"; }

.icon-gouwudai:before { content: "\e652"; }

.icon-goose:before { content: "\e699"; }

.icon-dingdangdaiyinxingqiashouquan:before { content: "\e6b6"; }

.icon-didichuhang:before { content: "\e610"; }

